body {
  background-color: #2c2f33;
  color: #7289da;
  font-family: Georgia, Serif, serif;
  text-align: center;
}

.pokemon_main_information_form form {
  align-content: center;
  text-align: center;
}
.pokemon_main_information_form form .form-section {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border: #99aab5 solid 2px;
  background-color: #23272a;
  border-radius: 5px;
  display: block;
  align-content: center;
  width: 50%;
}
.pokemon_main_information_form form .form-section .form-title {
  margin-bottom: 20px;
  font-weight: bold;
}
.pokemon_main_information_form form .form-section input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.pokemon_main_information_form form .form-section input ::placeholder {
  opacity: 0.75;
  color: red;
}

.pokemon_details_page .main-info-section {
  margin-top: 20px;
}
.pokemon_details_page .main-info-section .info-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;
  border: #99aab5 solid 1px;
  padding: 20px;
  border-radius: 20px;
}
.pokemon_details_page .main-info-section .info-wrapper .title {
  margin-bottom: 10px;
}
.pokemon_details_page .main-info-section .info-wrapper .info-row {
  display: flex;
  justify-content: space-around;
  transition: all 300ms;
  padding: 10px;
  border-radius: 10px;
}
.pokemon_details_page .main-info-section .info-wrapper .info-row:hover {
  background-color: #7289da;
  color: #2c2f33;
}
.pokemon_details_page .details-info-section {
  margin-top: 50px;
}
.pokemon_details_page .details-info-section .wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.pokemon_details_page .details-info-section .wrapper table, .pokemon_details_page .details-info-section .wrapper thead, .pokemon_details_page .details-info-section .wrapper tbody, .pokemon_details_page .details-info-section .wrapper td, .pokemon_details_page .details-info-section .wrapper tr {
  border-collapse: collapse;
  border: #7289da30 solid 1px;
  padding: 10px;
}
.pokemon_details_page .details-info-section .wrapper input {
  width: 50px;
}
.pokemon_details_page .details-info-section .wrapper input[type=submit] {
  color: transparent;
  padding: 10px;
  width: 50px;
  height: 50px;
  border: none;
}
.pokemon_details_page .details-info-section .wrapper input[type=submit]#add {
  background: url("assets/plus_icon.png") no-repeat top left;
}
.pokemon_details_page .details-info-section .wrapper input[type=submit]#edit {
  background: url("assets/pencil_icon.png") no-repeat top left;
}
.pokemon_details_page .details-info-section .wrapper input[type=submit]#delete {
  background: url("assets/delete_icon.png") no-repeat top left;
}
.pokemon_details_page .details-info-section .wrapper input[type=submit]:hover {
  cursor: pointer;
}

.main_page table, .main_page thead, .main_page tbody, .main_page td, .main_page tr {
  border-collapse: collapse;
  border: #7289da30 solid 1px;
  padding: 10px;
}
.main_page table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.main_page table .data-row {
  transition: all 300ms;
  text-decoration: none;
  color: #7289da;
  padding: 5px;
  border-radius: 10px;
}
.main_page table .data-row:hover {
  background-color: #7289da;
  color: #2c2f33;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
